scenarios/industry/dental-post-visit-care.json
{
  "name": "[GRIDHAND] DENTAL — Post-Visit Care Instructions",
  "nodes": [
    {
      "id": "trigger-dental-post-visit-care",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-industry-dental-post-visit-care",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "ybbjkfn68596grcu"
    },
    {
      "id": "extract-dental-post-visit-care",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clientId",
              "type": "string",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "customerPhone",
              "type": "string",
              "value": "={{ $json.body.trigger_data.phone ?? $json.body.trigger_data.caller_number ?? $json.body.trigger_data.agent_phone ?? \"\" }}"
            },
            {
              "name": "scenarioId",
              "type": "string",
              "value": "dental-post-visit-care"
            },
            {
              "name": "triggerData",
              "type": "object",
              "value": "={{ $json.body.trigger_data }}"
            },
            {
              "name": "triggerSource",
              "type": "string",
              "value": "={{ $json.body.trigger_source ?? \"live\" }}"
            },
            {
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.body.event_id ?? \"\" }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-dental-post-visit-care",
      "name": "POST to GRIDHAND Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gridhand-workers-production.up.railway.app/trigger/review-pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\":      \"{{ $json.clientId }}\",\n  \"customerPhone\": \"{{ $json.customerPhone }}\",\n  \"scenarioId\":    \"dental-post-visit-care\",\n  \"worker\":        \"review_pipeline\",\n  \"triggerData\":   {{ JSON.stringify($json.triggerData) }},\n  \"triggerSource\": \"{{ $json.triggerSource }}\",\n  \"eventId\":       \"{{ $json.eventId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "respond-dental-post-visit-care",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"scenarioId\": \"dental-post-visit-care\", \"worker\": \"review_pipeline\", \"processedAt\": new Date().toISOString() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "POST to GRIDHAND Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to GRIDHAND Workers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "industry",
    "dental",
    "visit_complete",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "source": "industry-scenario-builder",
      "scenarioId": "dental-post-visit-care",
      "scenarioName": "Post-Visit Care Instructions",
      "industry": "dental",
      "trigger": "visit_complete",
      "worker": "review_pipeline",
      "workersUrl": "https://gridhand-workers-production.up.railway.app/trigger/review-pipeline",
      "webhookPath": "gridhand-industry-dental-post-visit-care",
      "description": "After a procedure, texts care instructions relevant to the service performed. Also includes a review request for positive experiences.",
      "generatedAt": "2026-04-22T04:08:02.328Z"
    }
  }
}