scenarios/industry/realestate-closing-congratulations.json
{
  "name": "[GRIDHAND] REALESTATE — Closing Day Congratulations",
  "nodes": [
    {
      "id": "trigger-realestate-closing-congratulations",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-industry-realestate-closing-congratulations",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "01nxc8xp6u2wfvuo"
    },
    {
      "id": "extract-realestate-closing-congratulations",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clientId",
              "type": "string",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "customerPhone",
              "type": "string",
              "value": "={{ $json.body.trigger_data.phone ?? $json.body.trigger_data.caller_number ?? $json.body.trigger_data.agent_phone ?? \"\" }}"
            },
            {
              "name": "scenarioId",
              "type": "string",
              "value": "realestate-closing-congratulations"
            },
            {
              "name": "triggerData",
              "type": "object",
              "value": "={{ $json.body.trigger_data }}"
            },
            {
              "name": "triggerSource",
              "type": "string",
              "value": "={{ $json.body.trigger_source ?? \"live\" }}"
            },
            {
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.body.event_id ?? \"\" }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-realestate-closing-congratulations",
      "name": "POST to GRIDHAND Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gridhand-workers-production.up.railway.app/trigger/review-pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\":      \"{{ $json.clientId }}\",\n  \"customerPhone\": \"{{ $json.customerPhone }}\",\n  \"scenarioId\":    \"realestate-closing-congratulations\",\n  \"worker\":        \"review_pipeline\",\n  \"triggerData\":   {{ JSON.stringify($json.triggerData) }},\n  \"triggerSource\": \"{{ $json.triggerSource }}\",\n  \"eventId\":       \"{{ $json.eventId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "respond-realestate-closing-congratulations",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"scenarioId\": \"realestate-closing-congratulations\", \"worker\": \"review_pipeline\", \"processedAt\": new Date().toISOString() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "POST to GRIDHAND Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to GRIDHAND Workers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "industry",
    "realestate",
    "closing_complete",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "source": "industry-scenario-builder",
      "scenarioId": "realestate-closing-congratulations",
      "scenarioName": "Closing Day Congratulations",
      "industry": "realestate",
      "trigger": "closing_complete",
      "worker": "review_pipeline",
      "workersUrl": "https://gridhand-workers-production.up.railway.app/trigger/review-pipeline",
      "webhookPath": "gridhand-industry-realestate-closing-congratulations",
      "description": "On closing day, texts a heartfelt congratulations to the buyer/seller and requests a Google/Zillow review.",
      "generatedAt": "2026-04-22T04:08:03.447Z"
    }
  }
}