scenarios/industry/restaurant-slow-night-blast.json
{
  "name": "[GRIDHAND] RESTAURANT — Slow Night Reactivation Blast",
  "nodes": [
    {
      "id": "trigger-restaurant-slow-night-blast",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-industry-restaurant-slow-night-blast",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "5a0xli7gugrq0vom"
    },
    {
      "id": "extract-restaurant-slow-night-blast",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clientId",
              "type": "string",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "customerPhone",
              "type": "string",
              "value": "={{ $json.body.trigger_data.phone ?? $json.body.trigger_data.caller_number ?? $json.body.trigger_data.agent_phone ?? \"\" }}"
            },
            {
              "name": "scenarioId",
              "type": "string",
              "value": "restaurant-slow-night-blast"
            },
            {
              "name": "triggerData",
              "type": "object",
              "value": "={{ $json.body.trigger_data }}"
            },
            {
              "name": "triggerSource",
              "type": "string",
              "value": "={{ $json.body.trigger_source ?? \"live\" }}"
            },
            {
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.body.event_id ?? \"\" }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-restaurant-slow-night-blast",
      "name": "POST to GRIDHAND Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gridhand-workers-production.up.railway.app/trigger/reactivation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\":      \"{{ $json.clientId }}\",\n  \"customerPhone\": \"{{ $json.customerPhone }}\",\n  \"scenarioId\":    \"restaurant-slow-night-blast\",\n  \"worker\":        \"reactivation\",\n  \"triggerData\":   {{ JSON.stringify($json.triggerData) }},\n  \"triggerSource\": \"{{ $json.triggerSource }}\",\n  \"eventId\":       \"{{ $json.eventId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "respond-restaurant-slow-night-blast",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"scenarioId\": \"restaurant-slow-night-blast\", \"worker\": \"reactivation\", \"processedAt\": new Date().toISOString() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "POST to GRIDHAND Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to GRIDHAND Workers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "industry",
    "restaurant",
    "manual_campaign",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "source": "industry-scenario-builder",
      "scenarioId": "restaurant-slow-night-blast",
      "scenarioName": "Slow Night Reactivation Blast",
      "industry": "restaurant",
      "trigger": "manual_campaign",
      "worker": "reactivation",
      "workersUrl": "https://gridhand-workers-production.up.railway.app/trigger/reactivation",
      "webhookPath": "gridhand-industry-restaurant-slow-night-blast",
      "description": "Weekly or on-demand campaign targeting past guests who haven't visited in 45+ days. Sends a personalized offer to fill tables on a slow night.",
      "generatedAt": "2026-04-22T04:07:59.769Z"
    }
  }
}