scenarios/industry/salon-booking-confirmation.json
{
  "name": "[GRIDHAND] SALON — Appointment Booking Confirmation",
  "nodes": [
    {
      "id": "trigger-salon-booking-confirmation",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-industry-salon-booking-confirmation",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "po1wmqvc0wd19fox"
    },
    {
      "id": "extract-salon-booking-confirmation",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clientId",
              "type": "string",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "customerPhone",
              "type": "string",
              "value": "={{ $json.body.trigger_data.phone ?? $json.body.trigger_data.caller_number ?? $json.body.trigger_data.agent_phone ?? \"\" }}"
            },
            {
              "name": "scenarioId",
              "type": "string",
              "value": "salon-booking-confirmation"
            },
            {
              "name": "triggerData",
              "type": "object",
              "value": "={{ $json.body.trigger_data }}"
            },
            {
              "name": "triggerSource",
              "type": "string",
              "value": "={{ $json.body.trigger_source ?? \"live\" }}"
            },
            {
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.body.event_id ?? \"\" }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-salon-booking-confirmation",
      "name": "POST to GRIDHAND Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gridhand-workers-production.up.railway.app/trigger/appointment-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\":      \"{{ $json.clientId }}\",\n  \"customerPhone\": \"{{ $json.customerPhone }}\",\n  \"scenarioId\":    \"salon-booking-confirmation\",\n  \"worker\":        \"appointment_reminder\",\n  \"triggerData\":   {{ JSON.stringify($json.triggerData) }},\n  \"triggerSource\": \"{{ $json.triggerSource }}\",\n  \"eventId\":       \"{{ $json.eventId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "respond-salon-booking-confirmation",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"scenarioId\": \"salon-booking-confirmation\", \"worker\": \"appointment_reminder\", \"processedAt\": new Date().toISOString() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "POST to GRIDHAND Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to GRIDHAND Workers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "industry",
    "salon",
    "new_booking",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "source": "industry-scenario-builder",
      "scenarioId": "salon-booking-confirmation",
      "scenarioName": "Appointment Booking Confirmation",
      "industry": "salon",
      "trigger": "new_booking",
      "worker": "appointment_reminder",
      "workersUrl": "https://gridhand-workers-production.up.railway.app/trigger/appointment-reminder",
      "webhookPath": "gridhand-industry-salon-booking-confirmation",
      "description": "Instantly confirms a new salon or barber appointment with stylist name, service, and date/time.",
      "generatedAt": "2026-04-22T04:08:00.614Z"
    }
  }
}