scenarios/industry/trades-no-show-reschedule.json
{
  "name": "[GRIDHAND] TRADES — Missed Appointment Reschedule",
  "nodes": [
    {
      "id": "trigger-trades-no-show-reschedule",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-industry-trades-no-show-reschedule",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "2k4tw036rmv5rnlk"
    },
    {
      "id": "extract-trades-no-show-reschedule",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clientId",
              "type": "string",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "customerPhone",
              "type": "string",
              "value": "={{ $json.body.trigger_data.phone ?? $json.body.trigger_data.caller_number ?? $json.body.trigger_data.agent_phone ?? \"\" }}"
            },
            {
              "name": "scenarioId",
              "type": "string",
              "value": "trades-no-show-reschedule"
            },
            {
              "name": "triggerData",
              "type": "object",
              "value": "={{ $json.body.trigger_data }}"
            },
            {
              "name": "triggerSource",
              "type": "string",
              "value": "={{ $json.body.trigger_source ?? \"live\" }}"
            },
            {
              "name": "eventId",
              "type": "string",
              "value": "={{ $json.body.event_id ?? \"\" }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-trades-no-show-reschedule",
      "name": "POST to GRIDHAND Workers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gridhand-workers-production.up.railway.app/trigger/no-show",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\":      \"{{ $json.clientId }}\",\n  \"customerPhone\": \"{{ $json.customerPhone }}\",\n  \"scenarioId\":    \"trades-no-show-reschedule\",\n  \"worker\":        \"no_show\",\n  \"triggerData\":   {{ JSON.stringify($json.triggerData) }},\n  \"triggerSource\": \"{{ $json.triggerSource }}\",\n  \"eventId\":       \"{{ $json.eventId }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "respond-trades-no-show-reschedule",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"scenarioId\": \"trades-no-show-reschedule\", \"worker\": \"no_show\", \"processedAt\": new Date().toISOString() } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "POST to GRIDHAND Workers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to GRIDHAND Workers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "industry",
    "trades",
    "no_show",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "source": "industry-scenario-builder",
      "scenarioId": "trades-no-show-reschedule",
      "scenarioName": "Missed Appointment Reschedule",
      "industry": "trades",
      "trigger": "no_show",
      "worker": "no_show",
      "workersUrl": "https://gridhand-workers-production.up.railway.app/trigger/no-show",
      "webhookPath": "gridhand-industry-trades-no-show-reschedule",
      "description": "When a customer misses a scheduled service visit, texts to reschedule and optionally surfaces the next available slot.",
      "generatedAt": "2026-04-22T04:08:04.283Z"
    }
  }
}