scenarios/appointment-flow/1776756995885-no-show-detected-reschedule-sms-offer-discount.json
{
  "name": "[GRIDHAND] Appointment Flow Agent - No-show detected → reschedule SMS → offer discount",
  "nodes": [
    {
      "id": "z3wwnmr0ougxrcnr",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-appointment-flow-1776756995885",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "yvsv260clsxztww7"
    },
    {
      "id": "psdofrs5xgdbufar",
      "name": "Scenario Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "// GRIDHAND Auto-Generated Scenario\n// Domain:   Appointment Flow Agent\n// Scenario: No-show detected → reschedule SMS → offer discount\n// Desc:     When a customer fails to show up for a scheduled appointment at Joe\\'s Barbershop, GRIDHAND\\'s automation is triggered, sending a personalized SMS to the customer within 30 minutes, inviting them to reschedule their appointment and offering a 10% discount on their next visit. This workflow is made possible by integrating GRIDHAND with Joe\\'s existing scheduling app, allowing for seamless communication and follow-up. By automating this process, Joe\\'s Barbershop can reduce lost revenue and increase customer retention, with the goal of rescheduling at least 20% of no-shows within a week of the initial missed appointment.\n// Created:  2026-04-21T07:36:35.885Z\n//\n// HOW TO USE:\n// 1. Replace this Code node with real n8n nodes for your stack\n// 2. Configure credentials in n8n Settings → Credentials\n// 3. Test with the \"Execute Workflow\" button\n\nconst input = $input.first().json;\n\n// ── Validate required fields ──\nif (!input) {\n  throw new Error('No input data received');\n}\n\n// ── Core scenario logic ──\n// Scenario: No-show detected → reschedule SMS → offer discount\nconst output = {\n  ...input,\n  processed: true,\n  processedAt: new Date().toISOString(),\n  domain: 'appointment-flow',\n  scenario: 'No-show detected → reschedule SMS → offer discount',\n  gridhandVersion: '1.0',\n};\n\nreturn [{ json: output }];"
      }
    },
    {
      "id": "rmfwbsov52sb70by",
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "// Replace this node with your notification channel:\n// - Twilio SMS: use n8n-nodes-base.twilio\n// - Slack:      use n8n-nodes-base.slack\n// - Email:      use n8n-nodes-base.emailSend\n// - HubSpot:    use n8n-nodes-base.hubspot\n\nconst result = $input.first().json;\nconsole.log('[GRIDHAND] Scenario completed:', result.scenario);\nreturn [{ json: { success: true, ...result } }];"
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Scenario Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Logic": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "appointment-flow",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "domainId": "appointment-flow",
      "domainName": "Appointment Flow Agent",
      "scenario": "No-show detected → reschedule SMS → offer discount",
      "description": "When a customer fails to show up for a scheduled appointment at Joe's Barbershop, GRIDHAND's automation is triggered, sending a personalized SMS to the customer within 30 minutes, inviting them to reschedule their appointment and offering a 10% discount on their next visit. This workflow is made possible by integrating GRIDHAND with Joe's existing scheduling app, allowing for seamless communication and follow-up. By automating this process, Joe's Barbershop can reduce lost revenue and increase customer retention, with the goal of rescheduling at least 20% of no-shows within a week of the initial missed appointment.",
      "generatedAt": "2026-04-21T07:36:35.885Z"
    }
  }
}