scenarios/ecommerce/1776757027633-post-purchase-day-7-review-request.json
{
  "name": "[GRIDHAND] E-commerce Agent - Post-purchase day 7 → review request",
  "nodes": [
    {
      "id": "0scvn9phlnse8cub",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-ecommerce-1776757027633",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "acos0zunzu71gcdl"
    },
    {
      "id": "qpjq5cyxk6u0kcgg",
      "name": "Scenario Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "// GRIDHAND Auto-Generated Scenario\n// Domain:   E-commerce Agent\n// Scenario: Post-purchase day 7 → review request\n// Desc:     When a customer makes a purchase at Joe\\'s Barber Shop, a workflow is triggered seven days later, sending a personalized review request to the customer via email through the GRIDHAND system, which is integrated with Joe\\'s online scheduling app, allowing the shop to track customer interactions and feedback. The email, sent at 10am on the seventh day, includes a link to the shop\\'s Google My Business page, making it easy for the customer to leave a review, and also includes a brief message thanking the customer for their business and inviting them to share their experience. By automating this review request, Joe\\'s Barber Shop is able to consistently collect valuable feedback and build a strong online reputation, attracting new customers and driving growth for the business.\n// Created:  2026-04-21T07:37:07.633Z\n//\n// HOW TO USE:\n// 1. Replace this Code node with real n8n nodes for your stack\n// 2. Configure credentials in n8n Settings → Credentials\n// 3. Test with the \"Execute Workflow\" button\n\nconst input = $input.first().json;\n\n// ── Validate required fields ──\nif (!input) {\n  throw new Error('No input data received');\n}\n\n// ── Core scenario logic ──\n// Scenario: Post-purchase day 7 → review request\nconst output = {\n  ...input,\n  processed: true,\n  processedAt: new Date().toISOString(),\n  domain: 'ecommerce',\n  scenario: 'Post-purchase day 7 → review request',\n  gridhandVersion: '1.0',\n};\n\nreturn [{ json: output }];"
      }
    },
    {
      "id": "0nedn9tu0ug5m8zl",
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "// Replace this node with your notification channel:\n// - Twilio SMS: use n8n-nodes-base.twilio\n// - Slack:      use n8n-nodes-base.slack\n// - Email:      use n8n-nodes-base.emailSend\n// - HubSpot:    use n8n-nodes-base.hubspot\n\nconst result = $input.first().json;\nconsole.log('[GRIDHAND] Scenario completed:', result.scenario);\nreturn [{ json: { success: true, ...result } }];"
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Scenario Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Logic": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "ecommerce",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "domainId": "ecommerce",
      "domainName": "E-commerce Agent",
      "scenario": "Post-purchase day 7 → review request",
      "description": "When a customer makes a purchase at Joe's Barber Shop, a workflow is triggered seven days later, sending a personalized review request to the customer via email through the GRIDHAND system, which is integrated with Joe's online scheduling app, allowing the shop to track customer interactions and feedback. The email, sent at 10am on the seventh day, includes a link to the shop's Google My Business page, making it easy for the customer to leave a review, and also includes a brief message thanking the customer for their business and inviting them to share their experience. By automating this review request, Joe's Barber Shop is able to consistently collect valuable feedback and build a strong online reputation, attracting new customers and driving growth for the business.",
      "generatedAt": "2026-04-21T07:37:07.633Z"
    }
  }
}