scenarios/payment-chaser/1776757001417-invoice-overdue-7-days-firm-sms-email.json
{
  "name": "[GRIDHAND] Payment Chaser Agent - Invoice overdue 7 days → firm SMS + email",
  "nodes": [
    {
      "id": "llh6xzh6kff7d8eo",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "gridhand-payment-chaser-1776757001417",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "wihbqpk5toiiqio7"
    },
    {
      "id": "slfpibtr5ltdp5eb",
      "name": "Scenario Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "// GRIDHAND Auto-Generated Scenario\n// Domain:   Payment Chaser Agent\n// Scenario: Invoice overdue 7 days → firm SMS + email\n// Desc:     When an invoice remains unpaid for 7 days, GRIDHAND\\'s automation kicks in, triggering a firm but polite SMS message to the customer\\'s phone number on file via the Twilio app, as well as a complementary email sent through Mailchimp, both of which are customized with the business\\'s branding and include a link to pay the outstanding balance online. This dual-notification approach ensures that customers are reminded of their overdue payment in multiple ways, increasing the likelihood of prompt settlement. By automating this follow-up process, the business owner can reduce the time spent on accounts receivable and minimize the risk of late payments, resulting in a significant improvement to their cash flow and overall financial health.\n// Created:  2026-04-21T07:36:41.417Z\n//\n// HOW TO USE:\n// 1. Replace this Code node with real n8n nodes for your stack\n// 2. Configure credentials in n8n Settings → Credentials\n// 3. Test with the \"Execute Workflow\" button\n\nconst input = $input.first().json;\n\n// ── Validate required fields ──\nif (!input) {\n  throw new Error('No input data received');\n}\n\n// ── Core scenario logic ──\n// Scenario: Invoice overdue 7 days → firm SMS + email\nconst output = {\n  ...input,\n  processed: true,\n  processedAt: new Date().toISOString(),\n  domain: 'payment-chaser',\n  scenario: 'Invoice overdue 7 days → firm SMS + email',\n  gridhandVersion: '1.0',\n};\n\nreturn [{ json: output }];"
      }
    },
    {
      "id": "jtncu3j0huylstg0",
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "// Replace this node with your notification channel:\n// - Twilio SMS: use n8n-nodes-base.twilio\n// - Slack:      use n8n-nodes-base.slack\n// - Email:      use n8n-nodes-base.emailSend\n// - HubSpot:    use n8n-nodes-base.hubspot\n\nconst result = $input.first().json;\nconsole.log('[GRIDHAND] Scenario completed:', result.scenario);\nreturn [{ json: { success: true, ...result } }];"
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Scenario Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Logic": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "gridhand",
    "payment-chaser",
    "auto-generated"
  ],
  "meta": {
    "gridhand": {
      "domainId": "payment-chaser",
      "domainName": "Payment Chaser Agent",
      "scenario": "Invoice overdue 7 days → firm SMS + email",
      "description": "When an invoice remains unpaid for 7 days, GRIDHAND's automation kicks in, triggering a firm but polite SMS message to the customer's phone number on file via the Twilio app, as well as a complementary email sent through Mailchimp, both of which are customized with the business's branding and include a link to pay the outstanding balance online. This dual-notification approach ensures that customers are reminded of their overdue payment in multiple ways, increasing the likelihood of prompt settlement. By automating this follow-up process, the business owner can reduce the time spent on accounts receivable and minimize the risk of late payments, resulting in a significant improvement to their cash flow and overall financial health.",
      "generatedAt": "2026-04-21T07:36:41.417Z"
    }
  }
}